Repository Vladymyr201/workincz-site, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @dev-team, @frontend-team, @backend-team, @devops-team, @all-team, @qa-team

.github/CODEOWNERS:

# Файл определяет владельцев кода для автоматического назначения ревьюеров
# Подробнее: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Глобальные владельцы по умолчанию
* @admin-team

# Владельцы файлов в директории src
/src/ @dev-team

# Frontend код
/src/app/ @frontend-team
/src/components/ @frontend-team
/src/contexts/ @frontend-team
/src/hooks/ @frontend-team

# Backend код
/src/app/api/ @backend-team
/src/lib/services/ @backend-team
/src/middleware.ts @backend-team

# Конфигурация сборки и деплоя
/.github/workflows/ @devops-team
/scripts/ @devops-team

# Документация
/docs/ @all-team

# Тесты
/tests/ @qa-team

Docs: Добавлена документация о системе обработки ошибок в GitHub Actions workflows
  docs/WORKFLOW_ERROR_HANDLING.md
Owners: @all-team

Docs: Обновлен PROJECT_KNOWLEDGE.md с информацией о системе обработки ошибок в GitHub Actions
  PROJECT_KNOWLEDGE.md
Owners: @admin-team

Fix: Добавлены инструменты для проверки безопасности API-ключей Firebase
  .github/workflows/security-scan.yml
  docs/API_KEY_SECURITY.md
  scripts/security-check.js
Owners: @devops-team, @all-team

Fix: Исправлена ошибка синтаксиса YAML в firebase-deploy.yml
  .github/workflows/firebase-deploy.yml
Owners: @devops-team

Fix: Обновлены действия GitHub Actions и исправлен скрипт мониторинга
  .github/workflows/mcp-automation.yml
  monitor-mcp.js
Owners: @devops-team, @admin-team

Fix: Исправлены тесты и деплой на Firebase в GitHub Actions
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/firebase-deploy.yml
  docs/FIREBASE_DEPLOYMENT_SETUP.md
  test-setup.js
Owners: @devops-team, @all-team, @admin-team

Fix: Исправлены workflow файлы для использования FIREBASE_TOKEN вместо отсутствующих секретов
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/firebase-deploy.yml
  docs/ADD_GITHUB_SECRETS.md
Owners: @devops-team, @all-team

Fix: Исправлены ошибки в GitHub Action для Firestore Backup, добавлена документация по секретам
  .github/workflows/firestore-backup.yml
  PROJECT_KNOWLEDGE.md
  docs/GITHUB_ACTIONS_SECRETS.md
Owners: @devops-team, @admin-team, @all-team

Fix: Исправлены ошибки в GitHub Actions workflows и обновлена документация по секретам
  .github/workflows/firestore-backup.yml
  docs/GITHUB_ACTIONS_SECRETS.md
  docs/OIDC_AUTHENTICATION.md
Owners: @devops-team, @all-team

Feat: Добавлена автоматическая настройка GitHub Actions и инструкции по добавлению секретов
  .github/workflows/mcp-automation.yml
  docs/ADD_GITHUB_SECRETS.md
  scripts/setup-github-actions.js
Owners: @devops-team, @all-team

Docs: Добавлен отчет о настройке GitHub Actions
  docs/GITHUB_ACTIONS_SETUP_REPORT.md
Owners: @all-team
